<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="user" class="org.springframework.beans.User">
		<property name="name">
			<value>lisi</value>
		</property>	
		<property name="password" value="000"></property>
	</bean>

	<!-- 给 上面的 id为user 的bean 起一个别名 -->
	<alias name="user" alias="lisi"/>
	
	<!-- 静态工厂 -->
	<bean id="staticUser" class="org.springframework.beans.StaticFactory" factory-method="createUser"></bean>
	
	<!-- 实例工厂 -->
	<bean id="instanceFactory" class="org.springframework.beans.InstanceFactory"></bean>
	<bean id="instanceUser" factory-bean="instanceFactory" factory-method="createUser"></bean>

	<!--构造函数注入 -->
	<bean id="account" class="org.springframework.beans.Account">
		<constructor-arg ref="user"></constructor-arg>	
		<property name="email" value="abc@email.com"></property>
	</bean>

	<!-- 自动注入 -->
	<bean id="account1" class="org.springframework.beans.Account" autowire="constructor">
		<property name="email" value="abc1@email.com"></property>
	</bean>

	<!-- aware -->
	<bean id="accountAware" class="org.springframework.methodinjection.AccountAware"></bean>

	<!-- 有状态的bean,其 scope 是 prototype -->
	<bean id="command" class="org.springframework.methodinjection.Command" scope="prototype"></bean>
	<!-- 无状态bean依赖于上面的有状态 bean -->
	<bean id="commandManager" class="org.springframework.methodinjection.CommandManager">
		<lookup-method name="createCommand" bean="command"></lookup-method>
	</bean>
	
	<!-- 任意方法注入 -->
	<bean id="repBean" class="org.springframework.methodinjection.ReplacementComputeValue"></bean>
	<bean id="calculator" class="org.springframework.methodinjection.MyValueCalculator">
		<replaced-method name="computeValue" replacer="repBean">
			<arg-type>String</arg-type>	
		</replaced-method>	
	</bean>

</beans>
